node_modules
.env
dist
coverage
.vscode
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnp.*
.pnp.js
.idea
*.iml
*.log
.cache
.next
out
build
logs
*.tsbuildinfo
*.swp
*.swo
*.bak
*.orig
*.rej
*.tmp
*.pid
*.seed
*.pid.lock
*.gz
*.zip
*.tar
*.rar
*.7z
*.exe
*.dll
*.class
*.jar
*.war
*.ear
*.pyc
*.pyo
*.pyd
__pycache__
*.sqlite
*.db
*.sublime-workspace
*.sublime-project
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.user
*.userosscache
*.sln.docstates
*.psess
*.vsp
*.vspx
*.sap
*.cache
*.log